html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    height: auto;
    width: 360px;
    background-color: darkgoldenrod;
    text-align: center;
    margin: 0  auto;
}
.recipe {
    font-size: medium;
    font-weight: 700;
    width: 180px;
display: block;
padding: 10px;
margin: 5px;
background-color: rgb(218, 218, 32);
color: #b56a1e;
}

.img {
    display: block;
    margin: 5px auto;
    border: gold;
    border: 5px solid black;
}

button {
    font-size: large;
    font-weight: 600;
    color: black;
    background-color: yellow;
    width: 100px;
    padding: 10px;
}