html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    height: auto;
    width: 360px;
    background-color: darkgoldenrod;
    text-align: center;
    margin: 0  auto;
}
.recipe {

}